services:
  server-main:
    container_name: server-main-app
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    ports:
      - '3001:3000'
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
      - /app/node_modules